/* Variables */

:root {
	--bwtodo-main: #3c4248;
	--bwtodo-success: #04AA6D;
	--bwtodo-info: #008CBA;
	--bwtodo-error: #f44336;
	--bwtodo-black: #000;
	--bwtodo-white: #fff;
	--bwtodo-gray: #eee;
	--bwtodo-t-duration: .2;
}

/* Main Wrapper */
#bwtodo {
	color: var(--bwtodo-main);
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

@media screen and (max-width: 782px) {
	#bwtodo {
		padding-right: 10px;
	}
}

/* Modal */
#bwtodo-modal-backdrop {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .5;
	background-color: var(--bwtodo-black, #000);
	backdrop-filter: blur(5px);
}

#bwtodo-modal {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 25px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1001;
	width: 40%;
	min-width: 600px;
	box-sizing: border-box;
}

#bwtodo-modal .modal__content {
	padding-top: 20px;
}

#bwtodo-modal-close-btn {
	display: inline-block;
	width: 35px;
	height: 35px;
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
	opacity: 1;
	transition: opacity var(--bwtodo-t-duration, .3);
}

#bwtodo-modal-close-btn:hover {
	opacity: .8;
}

#bwtodo-modal-close-btn img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 782px) {
	#bwtodo-modal {
		min-width: 350px;
	}
}


@media screen and (max-width: 375px) {
	#bwtodo-modal {
		min-width: 250px;
	}
}


/* Filters */
.bwtodo-task-filters {
	margin: 20px 0;
}

/* Tasks Table */
#bwtodo-task-table {
	margin: 20px 0;
}

#bwtodo-task-table th,
#bwtodo-task-table td {
	vertical-align: middle;
}

#bwtodo-task-table .table__col-actions {
	text-align: right;
	width: 200px;
}

#bwtodo-task-table .table__col-title,
#bwtodo-task-table .table__col-description {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	width: 50%;
}

#bwtodo-task-table .table__col-title {
	width: 20%;	
}

#bwtodo-task-table .table__col-title:after,
#bwtodo-task-table .table__col-description:after {
	content: '';
	width: 100px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgb(2,0,36);
	background: linear-gradient(270deg, rgba(246,247,247,1) 0%, rgba(246,247,247,0) 100%);
}


#bwtodo-task-table tbody tr:nth-child(even) .table__col-title:after,
#bwtodo-task-table tbody tr:nth-child(even) .table__col-description:after {
	background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

@media screen and (max-width: 782px) {
	#bwtodo-task-table .table__col-title {
		width: 50%;
	}

	#bwtodo-task-table .table__col-description {
		display: none;
	}

	#bwtodo-task-table .table__col-actions .bwtodo-btn {
		font-size: 13px;
	}
}


/* Task Form */
.bwtodo-form {

}

.bwtodo-form label {
	display: block;
	font-size: 16px;
	margin-bottom: 8px;
}

.bwtodo-form .form__row + .form__row {
	margin-top: 15px;
}

.bwtodo-form .form__field {
	width: 100%;
	border-color: var(--bwtodo-gray);
	padding: 5px 10px;
}

.bwtodo-form .form__actions {
	margin-top: 20px;
}

.bwtodo-form .form__actions--center {
	text-align: center;
}

/* Button */
#bwtodo .bwtodo-btn {
	opacity: 1;
	transition: opacity var(--bwtodo-t-duration);
	background-color: transparent;
}

#bwtodo .bwtodo-btn.button:hover {
	opacity: .8;
	background-color: transparent;
}

#bwtodo .bwtodo-btn-success.button,
#bwtodo .bwtodo-btn-success.button:hover,
#bwtodo .bwtodo-btn-success.button:focus {
	border-color: var(--bwtodo-success);
	background-color: var(--bwtodo-success);
	color: var(--bwtodo-white);
}

#bwtodo .bwtodo-btn-success-transparent.button,
#bwtodo .bwtodo-btn-success-transparent.button:hover,
#bwtodo .bwtodo-btn-success-transparent.button:focus {
	border-color: var(--bwtodo-success);
	background-color: transparent;
	color: var(--bwtodo-success);
}

#bwtodo .bwtodo-btn-info.button,
#bwtodo .bwtodo-btn-info.button:hover,
#bwtodo .bwtodo-btn-info.button:focus {
	border-color: var(--bwtodo-info);
	background-color: var(--bwtodo-info);
	color: var(--bwtodo-white);
}

#bwtodo .bwtodo-btn-delete.button,
#bwtodo .bwtodo-btn-delete.button:hover,
#bwtodo .bwtodo-btn-delete.button:focus {
	border-color: var(--bwtodo-error);
	background-color: var(--bwtodo-error);
	color: var(--bwtodo-white);
}


#bwtodo .button,
#bwtodo .button-primary,
#bwtodo .button-secondary {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 2.15384615;
	min-height: 30px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box
}

#bwtodo .button.hidden {
	display: none
}

#bwtodo .button,
#bwtodo .button-secondary {
	color: #2271b1;
	border-color: #2271b1;
	background: #f6f7f7;
	vertical-align: top
}

#bwtodo p .button {
	vertical-align: baseline
}

#bwtodo .button-secondary:hover,
#bwtodo .button.hover,
#bwtodo .button:hover {
	background: #f0f0f1;
	border-color: #0a4b78;
	color: #0a4b78
}

#bwtodo .button-secondary:focus,
#bwtodo .button.focus,
#bwtodo .button:focus {
	background: #f6f7f7;
	border-color: #3582c4;
	color: #0a4b78;
	box-shadow: 0 0 0 1px #3582c4;
	outline: 2px solid transparent;
	outline-offset: 0
}

#bwtodo .button-disabled,
#bwtodo .button-secondary.disabled,
#bwtodo .button-secondary:disabled,
#bwtodo .button-secondary[disabled],
#bwtodo .button.disabled,
#bwtodo .button:disabled,
#bwtodo .button[disabled] {
	color: #a7aaad!important;
	border-color: #dcdcde!important;
	background: #f6f7f7!important;
	box-shadow: none!important;
	cursor: default;
	transform: none!important
}

#bwtodo .button-primary {
	background: #2271b1;
	border-color: #2271b1;
	color: #fff;
	text-decoration: none;
	text-shadow: none
}

#bwtodo .button-primary-disabled,
#bwtodo .button-primary.disabled,
#bwtodo .button-primary:disabled,
#bwtodo .button-primary[disabled] {
	color: #a7aaad!important;
	background: #f6f7f7!important;
	border-color: #dcdcde!important;
	box-shadow: none!important;
	text-shadow: none!important;
	cursor: default
}

#bwtodo .bwtodo-btn-large {
	font-size: 16px;
}

